* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(240, 228, 221);
    overflow: hidden;
}

#drink-section img {
    width: 300px;
    height: 300px;
}

.pelement {
    position: relative;
}

.zindex {
    z-index: 3;
}

.bubbles {
    position: relative;
    display: flex;
}

.aligntext {
    text-align: center;
}

.bubbles span {
    position: relative;
    
    width: 30px;
    height: 30px;
    background: rgba(255, 199, 109);
    margin: 0 4px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 10px rgba(255, 199, 109, 0.2),
        0 0 50px rgba(255, 199, 109, .40),
        0 0 100px rgba(255, 199, 109, .60);
    animation: animate 20s linear infinite;
    animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even) {
    width: 60px;
    height: 60px;
    background: rgb(255, 223, 167);
    box-shadow: 0 0 0 10px rgba(255, 223, 167, 0.2),
        0 0 50px rgb(255, 223, 167, .4),
        0 0 100px rgb(255, 223, 167, .6);
}

@keyframes animate {
    0% {
        transform: translateY(75vh) scale(.5)
    }

    100% {
        transform: translateY(-75vh) scale(1.5);
    }
}

.text-center {
    text-align: center;
    font-size: 1.2rem;
}

.bor-bot {
    border-bottom: 5px solid rgb(192, 146, 114);
}

.bor-rad {
    border: 5px solid rgb(217, 188, 169);
}

.nav-color {
    background-color: rgb(217, 188, 169);
}

.img-scale {
    align-items: center;
    width: 350px;
    height: 150px;
}

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.margins {
    margin: 60px 5px 5px 5px;
}

#map {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.push-image-left {
    margin-left: 100px;
    
}

.push-image-right {
    margin-right: 100px;
}

.seperation-bar hr {
    border-top: 5px solid rgb(192, 146, 114);
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 10%;
    margin-right: 10%;
}

.sep-bar {
    background-color: rgb(217, 188, 169);
}

.bor-top {
    border-top: 5px solid rgb(192, 146, 114);
}

footer {
    background-color: rgb(217, 188, 169);
}

footer h4 {
    padding: 40px;
}

@media screen and (max-width: 580px) {
    .brew-section, .cocktail-section {
        flex-direction: column;
    }
    .brew-section .box, .cocktail-section .box {
        margin: 0;
    }

    .span-hide {
        display: none;
    }
}
